<!--Cuerpo HTML para la configuración del alumno o profesor, cambiar correo o contraseña-->
<!DOCTYPE html>
<html lang="es" dir="ltr">
  <head>
    <link rel="stylesheet" href="../statics/css/configuracion.css">
    <link rel="icon" href="../statics/img/logo.jpg">
    <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
    <meta charset="utf-8">
    <title>CoyoExpresate: Configuración</title>
  </head>
  <body>
    <div class="img">
      <img src="../statics/img/tuerca.png">
    </div>
    <div class="config">
      <form action="../dynamics/php/config.php" method="post">
        <button id="cCo">Cambiar correo</button><br><br>
        <button id="cC">Cambiar Contraseña</button>
      </form><br><br>
      <a href="../dynamics/php/perfil.php">Volver</a>
    </div>
    <script type="text/javascript" src="../dynamics/js/config.js"></script>
  </body>
</html>
