<!--Cuerpo HTML para el modal de eliminar usuarios-->
<link rel="stylesheet" href="../statics/css/adminUsuarios.css">
<link rel="icon" href="../statics/img/logo.jpg">
<div class="modal-Eliminar">
  <span>X</span>
  <form action="eliminarUsuarios.php" method="post">
    ID del usuario: <input type="text" name="id_usuario" required><br><br>
    <input type="submit" name="eliminar" value="Eliminar">
  </form>
</div>
<script src="../libs/JQuery/jquery-3.5.1.min.js"></script>
<script type="text/javascript" src="../js/adminUsuarios.js"></script>
