<!--Cuerpo HTML para la página después de responder una encuesta-->
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link rel="stylesheet" href="../statics/css/encuestas.css">
    <link rel="icon" href="../statics/img/logo.jpg">
    <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
    <meta charset="utf-8">
    <title>CoyoExpresate: Encuestas</title>
  </head>
  <body>
    <div class="respuestaExit">
      <h1>Respuesta <br> Guardada</h1>
      <img src="../statics/img/respGuardada.png">
    </div>
    <a href='./principalEncuestas.html'>Regresar</a>
  </body>
</html>
